.chart {
    position: relative;
    top: 0;
    left: 0;
    background:#f3f3f3;

    html body & .tooltip {
        pointer-events: none;
    }

    svg {

        text {
          fill: lighten(@text-color, 10);
          font:12px @font-family-sans-serif;
        }

        .axis {

            path, line {
                fill: none;
                stroke: none;
                shape-rendering: crispEdges;
            }


            &.x .tick {

                line {
                    stroke-width: 0;
                }

                text {
                    font-weight: bold;
                    fill: @text-color;
                    transform: rotate(-25deg);
                    text-anchor: end !important;
                    shape-rendering: crispEdges;
                }
            }

        }

        .bar {
            cursor: pointer;

            &.BC-EXG { fill: @BC-EXG; }
            &.BC-FG  { fill: @BC-FG;  }
            &.BC-PG  { fill: @BC-PG;  }
            &.BC-COM { fill: @BC-COM; }
            &.BC-SOC { fill: @BC-SOC; }
            &.BC-UG  { fill: @BC-UG;  }
            &.BC-RDG { fill: @BC-RDG; }
            &.BC-DVG { fill: @BC-DVG; }
            &.BC-VEC { fill: @BC-VEC; }
            &.BC-DIV { fill: @BC-DIV; }
            &.BC-MDM { fill: @BC-MDM; }
            &.BC-UC  { fill: @BC-UC;  }
            &.BC-UDI { fill: @BC-UDI; }
            &.BC-UMP { fill: @BC-UMP; }
            &.BC-UD  { fill: @BC-UD;  }
            &.BC-DLF { fill: @BC-DLF; }
            &.BC-DVD { fill: @BC-DVD; }
            &.BC-FN  { fill: @BC-FN;  }
            &.BC-EXD { fill: @BC-EXD; }

            &.ABS { fill: #000; }
            &.BLANCSNULS { fill: #fff; }

        }

        .rulers {

            line {
                stroke: fade(#fff, 50);
                stroke-width: 1;
                shape-rendering: crispEdges;
            }

        }

    }

}
