.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body .breadcrumb {
  border-bottom:#BDBDBD 1px solid;
  font-weight: bold;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

// injector
// endinjector
