<nav class="navbar navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="col-xs-4 col-sm-3 col-md-2">
      <a class="navbar__brand" ui-sref="home.france">
        <img src="assets/logo-dpt.png" alt="Départementales 2015 - 22 &amp; 29 mars 2015" />
      </a>
    </div>
    <div class="col-xs-8 col-sm-9  col-md-10">
      <ul class="list-inline navbar__tabs">
        <li class="navbar__tabs__tab" ng-class="{ 'navbar__tabs__tab--active' : getT() === 1 }">
          <a ng-click="goToT(1)">
            1<sup>er</sup> tour
          </a>
        </li>
        <li class="navbar__tabs__tab" ng-class="{ 'navbar__tabs__tab--active' : getT() === 2 }">
          <a ng-click="goToT(2)">
            2<sup>nd</sup> tour
          </a>
        </li>
      </ul>
    </div>
  </div>
  <a  class="navbar__rf" href="http://www.radiofrance.fr/" target="_blank">
    <img src="assets/rf-logo.svg" alt="Radio France" />
  </a>
</nav>
