.navbar {

  background:#E7E7E7;
  border-bottom:#BDBDBD 1px solid;
  overflow: visible;

  &__brand {
    line-height: @navbar-height;

    img {
      max-height: @navbar-height;
      max-width: 100%;
    }

  }

  &__tabs {

    @tab-gap: 10px;
    @tab-height: @navbar-height - @tab-gap;

    margin:0;
    margin-top: @tab-gap + 1px;
    height:@tab-height;
    border-left:#BDBDBD 1px solid;

    &__tab {
      display:block;
      margin:0;
      height:@tab-height;
      text-align: center;
      float:left;
      position: relative;

      border:#BDBDBD 1px solid;
      border-bottom: 0;
      border-left: 0;
      background: mix(@breadcrumb-bg, #E7E7E7);
      font-family:@headings-font-family;
      .transition(0.4s);

      &:after, &:before {
        content:"";
        position:absolute;
        left:0;
        right:0;
        height:0;
        .transition(inherit);
      }

      &:before {
        bottom:100%;
        background:@brand-primary;
      }

      &:after {
        top:100%;
        background:@breadcrumb-bg;
      }


      &--active {
        background: @breadcrumb-bg;
        &:before { height:2px; }
        &:after { height:2px; }
      }

      a {
        display: block;
        width:100%;
        height:@tab-height;
        font-weight: bold;
        font-size:1.2em;
        padding:0 10px;
        line-height:@tab-height;
      }
    }
  }
}
