<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="col-xs-4">
      <p>
        Départementales 2015
        <br />
        22 & 29 mars 2015
      </p>
    </div>
    <div class="col-xs-2">
      <p>Les résultats</p>
    </div>
    <div class="col-xs-3">
      <button class="btn" ng-click="goToT(1)" ng-class="{ active : t === 1 }">1er tour</button>
    </div>
    <div class="col-xs-3">
      <button class="btn" ng-click="goToT(2)" ng-class="{ active : t === 2 }">2nd tour</button>
    </div>
  </div>
</nav>
