.footer {
    height: @enteryouraddress-height * 2;
    background: @navbar-default-bg;
    padding: 1em 0;
    border-top:#BDBDBD 1px solid;

    .fb-share-button {
        position: relative;
        top: -5px;
    }
}