.footer {
    background: @navbar-default-bg;
    padding: 1em 0;
    border-top:lighten(@text-color, 50) 1px solid;
    margin-bottom: @enteryouraddress-height;
    .box-shadow(0 1px 1px rgba(0,0,0,.05) inset);

    .fb-share-button {
        position: relative;
        top: -5px;
    }
}
