.leaflet-container {
    background-color: transparent;
}

.legend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background: rgba(255,255,255, 0.9);
    line-height: 18px;
    border-radius: 5px;
    color: #555;
    width: 150px;

    i {
        color: #777;
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        margin-bottom: 4px;
        opacity: 1;
    }

    .outline {
        clear: left;
    }

    .info-label {
        clear: right;
    }
}

.leaflet-popup {
    pointer-events: none;
}